<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.prize.commons.db.mapper.ViewCardUserHitMapper">

    <resultMap id="BaseResultMap" type="com.itheima.prize.commons.db.entity.ViewCardUserHit">
            <result property="id" column="id" jdbcType="INTEGER"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="uname" column="uname" jdbcType="VARCHAR"/>
            <result property="realname" column="realname" jdbcType="VARCHAR"/>
            <result property="idcard" column="idcard" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="gameid" column="gameid" jdbcType="INTEGER"/>
            <result property="userid" column="userid" jdbcType="INTEGER"/>
            <result property="productid" column="productid" jdbcType="INTEGER"/>
            <result property="hittime" column="hittime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,type,
        uname,realname,idcard,
        phone,level,name,
        price,gameid,userid,
        productid,hittime
    </sql>
</mapper>
