<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>若依介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>前端展示1：</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            活动列表
                        </div>
                        <p id="frontend1">
                            <a href="javascript:;">
								<img th:src="@{/img/1.png}" width="100%">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>前端展示2：</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            抽奖进行中
                        </div>
                        <p id="frontend2">
                            <a href="javascript:;">
                                <img th:src="@{/img/3.png}" width="100%">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>前端展示3：</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            活动规则与详情
                        </div>
                        <p id="frontend3">
                            <a href="javascript:;">
                                <img th:src="@{/img/2.png}" width="100%">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>前端展示4：</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="alert alert-warning">
                            个人中心
                        </div>
                        <p id="frontend4">
                            <a href="javascript:;">
                                <img th:src="@{/img/4.png}" width="100%">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
    <script type="text/javascript">
	    $('#pay-qrcode').click(function(){
	        var html=$(this).html();
	        parent.layer.open({
	            title: false,
	            type: 1,
	            closeBtn:false,
	            shadeClose:true,
	            area: ['600px', '360px'],
	            content: html
	        });
	    });
    </script>
</body>
</html>
